@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #01010f;
    --secundary-color: #f6f6f6;
    --terciary-color: #8E4DFF;
    --quarta-cor: #4B00CC;
    --hover-color: #8E4DFF;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secundary-color);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--terciary-color);
    text-decoration: none;
    transition: all 0.3s;
}

.cabecalho__menu__link:hover {
    transform: translateY(-2px);
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.titulo {
    color: var(--terciary-color);
    transition: 0.3s;
}

.titulo:hover {
    letter-spacing: 1px;
}

.titulo__projeto {
    color: #4B00CC;
    transition: 0.3s;
}

.titulo__projeto:hover {
    letter-spacing: 1px;
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 100;
}


.botoes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.botao {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 21.5px 0;
    color: var(--secundary-color);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    flex-wrap: wrap;
}

.botoes :hover {
    color: var(--hover-color);
}

.botoes_subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.projetos {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    background-color: #8E4DFF;
}

.container_cards {
    padding: 50px 15vw;
    /* display: flex;
    justify-content: center;
    flex-direction: row; */
    gap: 40px;
    width: 50%;
}

.card {
    font-family: var(--fonte-principal);
    background-color: #f6f6f6;
    box-shadow: 0 2px 18px #01010f;
    width: 40vw;
    height: 65vh;
    border: 2px solid #4B00CC;
    border-radius: 20px;
}

h2.title {
    padding: 2vh 0 10px 0;
    color: #4B00CC;
}

span.secondText, p.bottomText {
    padding: 0 0 1vh 0;
    color: var(--terciary-color);
    font-family: var(--fonte-secundaria);
}

.topCard {
    padding: 2vh 2vw;
    padding-top: 0;
}

.bottomCard {
    padding: 2vh 2vw;
}

.actions {
    padding: 1.5vh 0 0 0;
    background: none;
    border: none;
    color: #4B00CC;
    text-decoration: none;
}

.mediaCard {
    background: url(../assets/tela_cadastro.PNG) center/cover;
    width: 40vw;
    height: 40vh;
}

.rodape {
    position: fixed;
    bottom: -30px;
    left: 0;
    width: 100%;
    z-index: 1;
    color: var(--primary-color);
    background-color: transparent;
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

@keyframes flutuando {
    
    0% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.apresentacao__imagem {
    width: 50%;
    animation: flutuando ease-in-out 4s infinite;
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .card {
        height: 80vh;
    }

    .mediaCard {
        height: 45vh;
    }
}

@media (max-width: 780px) {

    .card {
        width: 45vw;
    }

    .mediaCard {
        height: 40vh;
        width: 45vw;
    }
}

@media (max-width: 550px) {

    .card {
        width: 45vw;
    }

    h2.title {
        font-size: medium;
    }

    span.secondText, p.bottomText {
        font-size: small;
    }

    .mediaCard {
        height: 40vh;
        width: 45vw;
    }
}